:root {
    --primary-color: #EA580C;
}

/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Utility */
.container {
    margin: auto;
}
.hero-img{
    height: 400px;
}
