:root {
    --primary-color: #EA580C;
    --secondary-color: #3F3F46;
    --secondary-text-color: #8C94A3;
}

/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Utility */
.container {
    margin: auto;
}
.hero-img{
    height: 400px;
}

/* Best Selling Courses */
.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0 2rem 0;
}
.section-header span{
    width: 30px;
    height: 2px;
}
.section-header .section-header-before{
    background: aqua;
}
.section-header .section-header-after{
    background: red;
}

/* Footer */
.footer-social-links i{
    background: var(--secondary-color);
    font-size: 1.2rem;
    padding: 1rem;
}
.footer-social-links i:hover{
    scale: 0.9;
}
.footer-social-links i.highlight{
    background: var(--primary-color);
    padding: 1rem;
}

footer ul {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;   
    color: var(--secondary-text-color);
}

footer ul a {
    color: var(--secondary-text-color);
}

footer ul a:hover {
    color: var(--primary-color);
}